.social{
    background: #EDEDED;
    padding-top: 44px;
    padding-bottom: 66px;
    
    @media screen and (min-width:1382px){
        padding-top: 60px;
        padding-bottom: 71px;
    }

    &__title{
        color: #E43071;
text-align: center;
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 15px;

@media screen and (min-width:1382px){
margin-bottom: 18px;
}
}

&__list{
    display: flex;
    gap: 25px;
    justify-content: center;

    @media screen and (min-width:1382px){
        gap: 90px;
    }
}

&__link{
    width: 75px;
height: 75px;
background-color: #FFF;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;

@media screen and (min-width:1382px){
    width: 110px;
height: 110px;
}
}

&__icon{
    width: 10.198px;
height: 20.417px;

@media screen and (min-width:1382px){
    width: 14.958px;
    height: 29.945px;    
}
}

&__item:nth-child(2){
    .social__icon{
        width: 16.93px;
height: 20.397px;

@media screen and (min-width:1382px){
    width: 24.831px;
height: 29.916px;
}
    }
}

&__item:last-child{
.social__icon{
    width: 20.455px;
height: 20.455px;

@media screen and (min-width:1382px){
    width: 30px;
height: 30px;
}
}
}
}