ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, p {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

address {
  font-style: normal;
}

.container {
  max-width: 1382px;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
}
@media screen and (min-width: 300px) {
  .container {
    width: 300px;
  }
}
@media screen and (min-width: 1382px) {
  .container {
    width: 1382px;
  }
}

body {
  font-family: "Poppins", serif;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  background: #E43071;
}
@media screen and (min-width: 1382px) {
  .header {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.header__box {
  display: flex;
  align-items: center;
}
.header__logo {
  color: #FFF;
  text-align: center;
  font-size: 21.818px;
  font-weight: 800;
  line-height: 109.5%; /* 23.891px */
  margin-right: auto;
}
@media screen and (min-width: 1382px) {
  .header__logo {
    font-size: 40px;
    margin-right: 172px;
  }
}
.header__lyfe {
  color: #FFC1D8;
}
.header__nav {
  display: none;
}
@media screen and (min-width: 1382px) {
  .header__nav {
    display: flex;
    align-items: center;
  }
}
.header__list {
  display: flex;
  gap: 76px;
}
.header__link {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 109.5%; /* 17.52px */
}
.header__btn {
  color: #E43071;
  background: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 109.5%; /* 17.52px */
  border-radius: 200px;
  padding: 16px 61px;
  margin-left: 63px;
}
.header__btn-svg {
  display: block;
}
@media screen and (min-width: 1382px) {
  .header__btn-svg {
    display: none;
  }
}
.header__menu {
  width: 30px;
  height: 30px;
  fill: #FFF;
}

.hero {
  padding: 240px 0 202px 0;
  background-image: url(../img/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
}
.hero__title {
  margin-left: auto;
  margin-right: auto;
  color: #FFF;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  width: 315.047px;
  margin-bottom: 23px;
  /* 112.5% */
}
.hero__title::after {
  content: "";
  width: 97px;
  height: 17px;
  display: block;
  background-image: url(../img/slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 1382px) {
  .hero__title {
    font-size: 70px;
    width: 730px;
    line-height: 110%;
    margin-bottom: 40px;
    /* 77px */
  }
}
@media screen and (min-width: 1382px) {
  .hero__span {
    color: #FFC1D8;
  }
}
.hero__btn {
  color: #FFF;
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 2.31;
  padding: 10px 42px;
  border-radius: 38.5px;
  background-color: #E43071;
}
@media screen and (min-width: 1382px) {
  .hero__btn {
    padding: 14px 56px;
  }
}

.body {
  padding-top: 35px;
  padding-bottom: 23px;
}
@media screen and (min-width: 1382px) {
  .body {
    padding-top: 94px;
    padding-bottom: 254px;
  }
}
@media screen and (min-width: 1382px) {
  .body__wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
.body__img {
  width: 176px;
  height: 248px;
}
@media screen and (min-width: 1382px) {
  .body__img {
    width: 347px;
    height: 399px;
  }
}
.body__list {
  position: relative;
  display: flex;
}
@media screen and (min-width: 1382px) {
  .body__list {
    width: 440px;
  }
}
.body__item:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
}
.body__item:nth-child(2) .body__img {
  width: 146px;
  height: 218px;
}
@media screen and (min-width: 1382px) {
  .body__item:nth-child(2) .body__img {
    width: 241px;
    height: 359px;
  }
}
.body__title {
  color: #E43071;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  width: 100%;
  margin-bottom: 11px;
  margin-top: 90px;
}
@media screen and (min-width: 1382px) {
  .body__title {
    margin-bottom: 6px;
    margin-top: 0px;
  }
}
.body__text {
  color: #424242;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 50px;
}
@media screen and (min-width: 1382px) {
  .body__text {
    margin-bottom: 30px;
    width: 540px;
  }
}
.body__btn {
  color: #E43071;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 37px;
  border-radius: 38.5px;
  border: 2px solid #E43071;
  width: 287px;
  height: 60px;
}
@media screen and (min-width: 1382px) {
  .body__btn {
    width: 237px;
    height: 68px;
  }
}

.become {
  position: relative;
  padding-top: 75px;
  padding-bottom: 82px;
  background-image: linear-gradient(rgba(57, 57, 57, 0.22), rgba(57, 57, 57, 0.22)), url(../img/become-bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
@media screen and (min-width: 1382px) {
  .become {
    padding-top: 231px;
    padding-bottom: 247px;
  }
}
.become__title {
  color: #FFF;
  text-align: center;
  text-shadow: 0px 0px 53.077px rgba(0, 0, 0, 0.46);
  font-size: 42.462px;
  font-weight: 700;
  line-height: 109.2%; /* 46.368px */
  margin-bottom: 20px;
}
@media screen and (min-width: 1382px) {
  .become__title {
    font-size: 60px;
    margin-bottom: 40px;
  }
}
.become__text {
  color: #FFF;
  text-align: center;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 20px;
}
.become__text::after {
  content: "";
  width: 97px;
  height: 17px;
  display: block;
  background-image: url(../img/slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 1382px) {
  .become__text {
    font-size: 17px;
    width: 533px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
}
.become__btn {
  color: #FFF;
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 37px; /* 231.25% */
  background-color: #E43071;
  border-radius: 38.5px;
  width: 287px;
  height: 56px;
}
@media screen and (min-width: 1382px) {
  .become__btn {
    font-family: Poppins;
    width: 237px;
    height: 68px;
  }
}

.premium {
  padding-top: 144px;
  padding-bottom: 87px;
  text-align: start;
}
@media screen and (min-width: 1382px) {
  .premium {
    padding-top: 321px;
    padding-bottom: 129px;
  }
}
.premium__box {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
@media screen and (min-width: 1382px) {
  .premium__box {
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
.premium__list {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-60%, 0);
}
@media screen and (min-width: 1382px) {
  .premium__list {
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
}
.premium__item:first-child {
  position: absolute;
  top: -55%;
  left: -35%;
}
.premium__item:first-child .premium__img {
  width: 202px;
  height: 135px;
}
@media screen and (min-width: 1382px) {
  .premium__item:first-child .premium__img {
    width: 444px;
    height: 296px;
  }
}
.premium__img {
  width: 191px;
  height: 128px;
}
@media screen and (min-width: 1382px) {
  .premium__img {
    width: 422px;
    height: 281px;
  }
}
.premium__title {
  width: 259px;
  color: #E43071;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 13px;
}
@media screen and (min-width: 1382px) {
  .premium__title {
    width: auto;
    margin-bottom: 4px;
  }
}
.premium__text {
  color: #424242;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  width: 269px;
}
@media screen and (min-width: 1382px) {
  .premium__text {
    width: 489px;
  }
}
.premium__btn {
  color: #E43071;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 37px;
  border-radius: 38.5px;
  border: 2px solid #E43071;
  padding: 13px 86px;
  margin-top: 30px;
}
@media screen and (min-width: 1382px) {
  .premium__btn {
    padding: 16px 72px;
    margin-top: 4px;
  }
}
.premium__wrap {
  text-align: start;
}
@media screen and (min-width: 1382px) {
  .premium__wrap {
    align-items: center;
  }
}

.customer {
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%), #f4e3e9;
  padding-top: 48px;
  padding-bottom: 38px;
  position: relative;
}
@media screen and (min-width: 1382px) {
  .customer {
    padding-top: 126px;
    padding-bottom: 621px;
  }
}
.customer__title {
  color: var(--Grey-Two, #424242);
  width: 225px;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 119.2%;
  margin-bottom: 7px;
}
@media screen and (min-width: 1382px) {
  .customer__title {
    font-size: 48px;
    width: 414px;
    margin-bottom: 12px;
  }
}
.customer__info {
  color: var(--Grey-Two, #424242);
  width: 171px;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 25px;
}
@media screen and (min-width: 1382px) {
  .customer__info {
    font-size: 18px;
    width: 313px;
    margin-bottom: 27px;
  }
}
.customer__item {
  padding: 24px 22px 25px 19px;
  border-radius: 6.966px;
  background: #fff;
  box-shadow: 0.697px 2.787px 5.573px 0px rgba(0, 0, 0, 0.18);
}
@media screen and (min-width: 1382px) {
  .customer__item {
    width: 349px;
    padding: 35px 32px 36px 27px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.18);
    position: absolute;
    left: 240px;
  }
}
.customer__item:nth-child(2n) {
  display: none;
}
@media screen and (min-width: 1382px) {
  .customer__item:nth-child(2n) {
    width: 449px;
    display: block;
    position: absolute;
    left: 640px;
    top: 170px;
  }
}
.customer__item:last-child {
  display: none;
}
@media screen and (min-width: 1382px) {
  .customer__item:last-child {
    width: 351px;
    display: block;
    position: absolute;
    top: 535px;
    left: 640px;
  }
}
.customer__subtitle {
  color: #e43071;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 119%;
  margin-bottom: 20px;
}
@media screen and (min-width: 1382px) {
  .customer__subtitle {
    font-size: 38px;
    margin-bottom: 29px;
  }
}
.customer__item:nth-child(2n) > .customer__subtitle {
  margin-bottom: 17px;
}
.customer__item:last-child > .customer__subtitle {
  margin-bottom: 32px;
}
.customer__text {
  color: #424242;
  width: 176px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 1px;
}
@media screen and (min-width: 1382px) {
  .customer__text {
    width: 253px;
    font-size: 18px;
    line-height: 32px;
  }
}
.customer__item:nth-child(2n) > .customer__text {
  width: 353px;
}
.customer__item:last-child > .customer__text {
  width: 256px;
}
.customer__vrap {
  display: flex;
  gap: 13px;
}
.customer__img {
  width: 41.101px;
  height: 39.708px;
  border-radius: 220.831px;
  background: url(<path-to-image>) lightgray 50%/cover no-repeat;
}
@media screen and (min-width: 1382px) {
  .customer__img {
    width: 59px;
    height: 57px;
    border-radius: 317px;
  }
}
.customer__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}
.customer__name {
  color: #424242;
  font-size: 12.539px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
}
@media screen and (min-width: 1382px) {
  .customer__name {
    font-size: 18px;
    line-height: 34px;
  }
}
.customer__desk {
  color: #969bab;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
@media screen and (min-width: 1382px) {
  .customer__desk {
    font-size: 14px;
    line-height: 34px;
  }
}/*# sourceMappingURL=main.css.map */