ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, p {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

address {
  font-style: normal;
}

.container {
  max-width: 1382px;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
}
@media screen and (min-width: 300px) {
  .container {
    width: 300px;
  }
}
@media screen and (min-width: 1382px) {
  .container {
    width: 1382px;
  }
}

body {
  font-family: "Poppins", serif;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  background: #E43071;
}
@media screen and (min-width: 1382px) {
  .header {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.header__box {
  display: flex;
  align-items: center;
}
.header__logo {
  color: #FFF;
  text-align: center;
  font-size: 21.818px;
  font-weight: 800;
  line-height: 109.5%; /* 23.891px */
  margin-right: auto;
}
@media screen and (min-width: 1382px) {
  .header__logo {
    font-size: 40px;
    margin-right: 172px;
  }
}
.header__lyfe {
  color: #FFC1D8;
}
.header__nav {
  display: none;
}
@media screen and (min-width: 1382px) {
  .header__nav {
    display: flex;
    align-items: center;
  }
}
.header__list {
  display: flex;
  gap: 76px;
}
.header__link {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 109.5%; /* 17.52px */
}
.header__btn {
  color: #E43071;
  background: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 109.5%; /* 17.52px */
  border-radius: 200px;
  padding: 16px 61px;
  margin-left: 63px;
}
.header__btn-svg {
  display: block;
}
@media screen and (min-width: 1382px) {
  .header__btn-svg {
    display: none;
  }
}
.header__menu {
  width: 30px;
  height: 30px;
  fill: #FFF;
}

.hero {
  padding: 240px 0 202px 0;
  background-image: url(../img/hero-bg.jpg), url(../img/bg-pozitioned.png);
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, 100px;
  text-align: center;
  position: relative;
}
.hero__title {
  margin-left: auto;
  margin-right: auto;
  color: #FFF;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  width: 315.047px;
  margin-bottom: 23px;
  /* 112.5% */
}
.hero__title::after {
  content: "";
  width: 97px;
  height: 17px;
  display: block;
  background-image: url(../img/slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 1382px) {
  .hero__title {
    font-size: 70px;
    width: 730px;
    line-height: 110%;
    margin-bottom: 40px;
    /* 77px */
  }
}
@media screen and (min-width: 1382px) {
  .hero__span {
    color: #FFC1D8;
  }
}
.hero__btn {
  color: #FFF;
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 2.31;
  padding: 10px 42px;
  border-radius: 38.5px;
  background-color: #E43071;
}
@media screen and (min-width: 1382px) {
  .hero__btn {
    padding: 14px 56px;
  }
}/*# sourceMappingURL=main.css.map */